# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Milo Silva
	email = milo.silva@intus.nl

[safe]
	directory = /Users/milosilva/intus/platform/infra-dns
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/milo.silva/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	autoSetupRemote = true
